footer{
    width: 100%;
    background: #000;
    padding: 20px 0;
}
.footer_content{
    display: flex;
    justify-content:space-evenly;
}

footer li{
    color: #fff;
    list-style: none;
    line-height: 30px;
    font-size: 12px;
}
footer li h3{
    font-weight: 500;
    font-size: 16px;
}
.footer_icon{
display: flex;
justify-content:center;
}
.footer_icon li a{
    margin: 0 20px;
}
.footer_icon li a img{
    width: 24px;
    height: 24px;
    transform: translateX(-20px);
}
 .footer_logo {
    width: 200px;
}
/* .footer_declare{
    display:flex;
    justify-content: center;
} */
.footer_declare p{
    color: #fff;
    font-size: 12px;
    /* padding-bottom: 20px; */
    margin:0;
    text-align:center ;
    
}
@media screen and (max-width:767px){
    .footer_content{
        flex-direction: column;
        padding: 20px;
    }
    .footer_content ul{
       
        text-align: left;
        margin:15px  ;
        border-bottom: 1px solid #fff;
        padding: 10px ;

    }
    .footer_logo{
        width: 300px;
        margin: auto;
    } 
    .footer_logo img{
        height:80px;
    }
    footer .footer_content ul::after{
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        border-bottom: 1px solid #fff;
        width:85%;
        margin: -10px auto;
    }
}
