body{
    font-family: 'Noto Sans TC', sans-serif;
    /* font-family: 'Libre Baskerville', serif; */
}
body{
    /* background: url(images/texture-white.png) center center repeat; */
    background-color:#E7EBEC;
  }
.product_cover-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}  
.transition{
    transition: .5s;
}
.pointer{
    cursor: pointer;
}
.product_wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
.product_font-size_12{
    font-size: 12px; 
}
.product_font-size_14{
    font-size: 14px; 
}
.product_font-size_15{
    font-size: 15px; 
}
.product_font-size_16{
    font-size: 16px; 
}
.product_font-size_20{
    font-size:20px; 
}
.product_font-size_25{
    font-size:25px; 
}
.product_font-size_30{
    font-size: 30px; 
}
.product_font-size_40{
    font-size: 40px; 
}

.product_font-weight_600{
    font-weight: 600;
}

.product_fixed{
    position: fixed;
}

.dproduct_none{
    display: none;
}
.product_icon_45{
    width: 45px;
}
.product_icon_16{
    width: 16px;
}


/* --------------------svg變色--------------------- */

.path:hover polygon, .path:hover rect {
    fill:  #B8926B;
}
.icon_heart_b:hover path,.icon_car_b:hover path,.car_icon:hover path,.heart_icon:hover path,.filter_op:hover path {
    fill:  #B8926B;
}
.icon_heart>path{
    fill:  #B8926B;
}



/* ---------------------彈出視窗--------------------- */

.shopcar_heart_black{
    width: 100vw;
    background: rgba(0,0,0,.8);
    min-height: 100vh;
    position: fixed;
    top:0;
    bottom: 0;
    z-index: 900;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    display:none; 
}
.heart_window.active,.shopcar_window.active{
    display: flex;
    opacity: 1;
}
/* .shopcar_list_black.active{
    display: flex;
    opacity: 1;
} */
.window_card{
    width: 350px;
    min-height: 200px;
     background:#fff;
     border-radius: 4px;
     padding: 20px 30px;
     text-align: center;
}
.window_card>p{
    margin: 10px auto;
}

.window_card>span{
    color: #B8926B;
}
.window_card>div{
    display: flex;
    justify-content: space-between;
}
input{  
	background:none;  
	outline:none;  
    border:0px;
}

.product_black_botton{
    border:0;
    background-color:#14191D;
    color:#fff;
    border-radius:4px;
    width:100%;
    margin:  10px 15px 10px 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    transition: .3s;   
}
.product_blackBtn_35{
    height:35px;
}
.product_blackBtn_45{
    height:45px;
}
.product_gray_botton{
        border:0;
      background-color:#9DA4A7;
      color:#fff;
      border-radius:4px;
      width:100%;
      height:35px;
      margin:  10px 0 15px 10px;
      font-family: 'Noto Sans TC', sans-serif;
      font-size: 16px;
      transition: .3s;
    }

.product_black_botton:hover{
    background-color:#B8926B;   
}
.product_gray_botton:hover{
    background-color:#14191D;
}

/* ---------------------內容--------------------- */

/* ----------------上--------------- */
.product_bread{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 80px;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 7px; 
}
.product_bread_text{
    margin: 0 auto;
    white-space:nowrap; 
    width:100%; 
    overflow:hidden;
    text-overflow:ellipsis;
}
.product_bread_text a{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    margin-left:10px;
}


.product_main_content{
    margin: 130px 0 50px 0 ;
    width: 100%;
    min-height: 500px;
    /* background: #9DA4A7; */
    padding:10px 20px ;
    display: flex;
    justify-content: center;
    /* flex-direction: row;     */
}
.product_main_content{
    display: flex;
}
.product_biggroup{
    width: 50%;
    min-height: 100px;
    /* background: skyblue; */
    margin-right:  20px;
    opacity: 0;
    animation-name:product_biggroup;
    animation-duration:1.5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

 @keyframes product_biggroup{
    0%{
  opacity: 0%;
  transform:translateY(-20px);
    }
    100%{
      opacity: 100%;
      transform:translateY(0px);
    }
  }

#prodMainImg {
    /* background: #E7EBEC; */
    background: #fff;
    position: relative;
    width: 100%;
    height: 400px;
    border:1px solid #14191D;
    margin-bottom: 50px;
}

.product_marginLeft{
    margin: 0 0 0 20px;
}

.product_mainphoto{
    width: 100%;
    height: 100%;
}
/* ----------------圖片縮放--------------- */
#prodImgZOOM {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    display: none;
}
#prodImgZOOMBig.active {
    display: none;
}
#prodImgZOOM.active {
    display: block;
}
#prodImgZOOMInner {
    position: absolute;
    top: -600px;
    left: -400px;
    width: 1400px;
    height: 1600px;
    background: #E7EBEC;
}
#prodImgZOOMInner img.draggable {
    position: absolute;
    width: 1000px;
}
.prodImgZOOMBtn{
    position: absolute;
    top: 14px;
    right: 14px;
    border:0;
    background-color:#9DA4A7;
    color:#fff;
    border-radius:4px;
    width:50px;
    height:30px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
}

.prodImgZOOMBtn:hover{
    background-color:#14191D;
    transition: .3s;
}
/* ----------------圖片縮放--------------- */
.product_smallgroup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.product_smallphoto{
    width: 23%;
    height: 100px;
    background:#fff;
    /* margin: 0 0 10px  0; */
    border:1px solid #14191D;
    margin-right:  5px;
}
/* .product_smallphoto:hover {
    border:1px solid #B8926A;
    transition: .3s;
} */
.product_smallphoto:hover img{
   /* filter: brightness(80%); */
   opacity: .5;
   transition: .3s;
}

.product_smallgroup>li.active{
    box-sizing: border-box;
    border:2px solid #B8926B;
}

/* ---------------------------- */
.product_name{
    line-height: 40px;
    margin-bottom: 20px;
    font-size:25px;
}
.product_price{
    font-family: 'Libre Baskerville', serif;
    color:#B8926B;
    margin-bottom: 20px;
    font-size:40px;
}
.product_text{
    width: 100%;
    min-height: 100px;
    list-style: none;
    padding: 0 0;
    margin-bottom: 30px;
}
.product_text>li{
    margin-bottom: 10px;
}
.product_btngroup{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.product_heartgroup{
    display: flex;
}
.product_icon_none{
    display: none;
}
.product_number_control{
    width: 100%;
    position: relative;
    height: 40px;
    border: 1px solid #14191D;
    text-align: left;
    border-radius: 0;
    display: inline-block;
    border-radius: 4px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #fff;
   
}
.product_number_control>form>.edit-qty{
    background: #14191D;
    width: 45px;
    height: 100%;
    display: block;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    line-height: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    padding:0;
}
.product_number_control>form>.edit-qty.qtyplus{
    left: auto;
    right: 0px;
    
}
.input-text{
    width: 100%;
    border: 0;
    height: 40px;
    background: none;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    color: #14191D;
    text-align: center;
}

.product_social{
    width: 100%;
    min-height: 80px;
    margin-top: 19px;
    border-top:1px solid #14191D; 
    border-bottom: 1px solid #14191D;
}
.product_social>p{
  margin: 15px 0 0 0;
}
.product_social>ul{
    margin: 15px 0;
  }
.product_social_icon{
    margin-right: 20px;
    text-align: center;
}

.product_icon_none{
   display: none;
}

.productTooltip {
    position: relative;
     
}

.productTooltip .tooltiptext {
    height: 30px;
    font-size: 12px;
    visibility: hidden;
    width: 70px;
    background-color:#FFF;
    color:black;
    text-align: center;
    border-radius: 0px;
    padding: 5px 0;
    border: 1px solid black ;

    /* 定位 */
    position: absolute;
    bottom:-35px;
    z-index: 1;
}

.productTooltip:hover .tooltiptext {
    visibility: visible;
}


@media screen and (max-width: 768px) {
    .product_name{
        line-height: 30px;
        font-size:20px;
    }
    .product_price{
        font-size:30px;
    }
    .product_main_content{
        margin: 130px 0 50px 0 ;
        width: 100%;
        min-height: 500px;
        padding:10px 20px ;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .product_biggroup{
        width: 100%;
        min-height: 100px;
        /* background: skyblue; */
        margin: 0px 0px;
    }
    #prodMainImg {
        margin-bottom: 30px;
        height: 350px;
    }
    .product_smallphoto{
        height: 80px;
    }
}

/* ----------------中--------------- */
.product_downGroup{
    width: 100%;
    min-height: 100px;
    padding: 30px 20px;
    text-align: center;
    opacity: 0;
}
.product_introduce.active{
    animation-name:product_biggroup;
    animation-duration:1.5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}
.product_introduce{
    background:#fff;
}
.product_introduce>div>p{
    max-width: 700px;
    margin: 20px auto;
    line-height: 40px;
}
/* ----------------slider--------------- */
.product_sliderBox{
    height: 310px;
    width: 1090px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    /* background: rgb(135, 211, 192); */
    
   
}
.product_downGroup_slider{
    opacity: 0;
}
.product_downGroup_slider.active{
    animation-name:product_biggroup;
    animation-duration:1.5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}
.product_sliderBox_pic{
    /* width: 1850px; */
    padding: 0;
    height: 250px;
    margin: 30px auto;
    /* transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s; */
    position:absolute;
    left:0px;
    transition: .5s;
}

.product_smallphoto_down{
    position: relative;
    float: left;
    list-style: none;
    width: 350px;
    height: 250px;
    background: #fff;
    margin-right:20px  ;
    border:1px solid #14191D;
    
}
.product_smallphoto_down>a{
    display: block;
}
.productBox_image{
    position: relative;
    overflow: hidden;
    height: 248px;
}
.swiper-pagination {
    margin-bottom:30px ;
    list-style: none;
    display: flex;
    justify-content: center;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #E7EBEC;
    /* opacity: 0.2; */
    margin: 0 10px;
    border:1px solid#9CA4A7;
}

.page_two{
    display: none;
}
.page_four{
    display: none;
}

/* div#recommendPic>ul>li> a::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;  
    transition: .8s;
} */
/* div#recommendPic>ul>li> a:hover::after{
    opacity: 1;  
} */
.productBox_image:hover img {
    filter: brightness(50%);
    transition: .8s;
    }
.productBox_image p{
    position: absolute;
    bottom:-40%;
   
    transition: .8s;
    line-height: 30px;
    font-size: 16px;
    margin-left:5px;
    z-index: 10;
    text-align: left;
    color: #FFF;
    }
.productBox_image p strong{
      color:#EEC84D;
      font-size: 20px;
      font-weight: 400; 
    }
.productBox_image:hover p{
        bottom:0%;  
      }

.recommendPic_word{
    position: absolute;
}
/* ---------------- */
@media screen and (max-width: 1200px) {
    .product_sliderBox{
        width: 720px;
    }
    .page_one{
        display: none;
    }
    .page_two{
        display: block;
    }
    }

@media screen and (max-width: 992px) {
    .shop_card{
        width: 22%;
    }
}
@media screen and (max-width: 768px) {

.shop_card{
        width: 45%;
        position: relative;
    }
.shopcar_botton{
display: block;
    }
.shop_card_content_icon{
    position: absolute;
    top:5px;
    right: 5px;
}
.icon_car_b{
    display: none;
}
/* ----------------slider--------------- */
.product_sliderBox{
    width: 350px;
}
.page_two{
    display: none;
}
.page_four{
    display: block;
}
/* ----------------slider--------------- */
}

@media screen and (max-width: 480px) {
    #prodImgZOOMInner img.draggable {
        width: 800px;
    }
    #prodImgZOOMInner {
        top: -380px;
        left: -350px;
        width:1100px;
        height: 1100px;
    }
}